<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/error.css">
    <title>PayGo: Pay Your Friends</title>
</head>

<body>

    <header>PayGo <img src="./images/logo.png" alt="shoe logo" id="logo"></header>

    <section class="main">

        <h1>ERROR</h1>

        <p>The form was unable to be submitted successfully because you have entered invalid information. Please try again</p>

        <div class="buttons">
            <a href="/">
                <button>Go back</button>
            </a>
        </div>

    </section>

</body>

</html>