body {
    background-color: rgba(188, 182, 182, 0.586);
    margin:0px;
    padding:0px;
}

header {
    background-color: rgb(170, 68, 68);
    color: rgb(234, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:0;
    padding:0;
}

header h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    align-items: center;
    justify-self: center;
}

button {
    border: 2px rgb(201, 182, 182) solid;
    border-radius: 4px;
    padding: 7px;
    width: 70px;

    justify-self: right;
    align-items: right;

    position:absolute;
    right:20px;
    top:30px;

    margin-right: 15px;
}

button:hover {
    background-color: rgb(196, 186, 186);
    cursor:pointer;
}

.page {
    display:flex;
    flex-flow: column;
    justify-self: center;
    justify-content: center;
}

section {
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: 50px;

    border-radius: 9px;
    background-color: rgb(247, 242, 242);
    padding: 20px;
    margin: 40px;
    margin-left: 300px;
    margin-right: 300px;
    

    box-shadow: 0px 4px 8px rgba(188, 182, 182, 0.586);
}

form {
    display: flex;
    flex-direction: column;
    height: 200px;
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin-left:20px; */
    margin-right: 20px;
}

form textarea {
    width: 96%;
    height: 100%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
}

form input {
    /* display:flex; */
    justify-content: center;
    /* width: 40px; */
    background-color: rgb(170, 68, 68);
    color: rgb(234, 224, 224);
    font-weight: 500px;
    border-radius: 7px;
    border:rgb(170, 68, 68);
    padding: 15px;
    width: 10%;
    /* text-align: center; */
    /* align-self: right; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 0.9em;

    align-self: center; 
}

form input:hover {
    background-color: rgb(141, 59, 59);
    color: rgb(197, 194, 194);
    cursor:pointer;
}

.content {
    border-radius: 3px;
    width:400px;
    align-self: center;
    justify-self: center;
    padding-bottom:0px;
    margin-bottom: 0px;
}

/* .postBar {
    background-color: rgb(197, 194, 194);
    margin-bottom: 0px;
    padding-bottom: 0px;
    justify-content: space-around;
    line-height: normal;
} */

.content div {
    margin-bottom: 10px;
}

/* .content .postHead {
    display:flex;
    flex-direction: column;
} */

footer {
    margin-top: 20px;
    text-align: center;
    background-color: rgb(170, 68, 68);
    color: rgb(234, 224, 224);
    padding: 10px;
    font-size: 1.em;
    font-family: 'Courier New', Courier, monospace;
}

