<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Howler: Home Page</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/howler.js"></script>
</head>
<body>
    <header>
        <div><h1>Howler</h1></div>
        <div class="user">
            <a href="login">
                <button>Login</button>
            </a>
        </div>
    </header>

    <div class="page">
        <section class="myPost">
            <form>
                <textarea name="post" id="postText" placeholder="What's howling?" maxlength="200" required></textarea>
                <input type="submit" value="Howl">
            </form>
            
        </section>
    
        <section class="content">
            <!-- sample posts to populate screen with -->
            <div class="postHead">
                <!-- <div class="attr" id="pfp">
                    <img src="/images/bob.png" alt="pfp">   
                    <div class="attr" id="userInfo">
                        <div id="name">
                            Stu Dent
                        </div>
                        <div id="userTag">
                            @student
                        </div>
                    </div>
                    
                </div> -->
                <!-- <div class="attr" id="userInfo"> -->
                <img src="./images/bob.png" alt="pfp">   
                <!-- </div> -->
                <div class="userLine">
                    <div id="name">
                        <strong>Stu Dent</strong>
                    </div>
    
                    <div id="tag">
                        @student
                    </div>
                </div>

                <div class="attr" id="postDate">
                    March 1st, 1:03am
                </div>
            </div>
    
            <div class="postContent">
                I just got unbanned from my favorite paysite!! I need everyone to send me $20
            </div>
    
            <!-- <div class="postBar">
                Likes etc will go here
            </div> -->
        </section>
    
        <section class="content">
            <!-- sample posts to populate screen with -->
            <div class="postHead">
                
                <img src="./images/girl.png" alt="pfp">   

                <div class="userLine">
                    <div id="name">
                        <strong>Lilly Milly</strong>
                    </div>
    
                    <div id="tag">
                        @lilmilly2
                    </div>
                </div>

                <div class="attr" id="postDate">
                    February 29th, 4:31pm
                </div>
            </div>
    
            <div class="postContent">
                i hate being born on a leap year
            </div>
    
        </section>
    
        <section class="content">
            <!-- sample posts to populate screen with -->
            <div class="postHead">
                
                <img src="./images/boy.png" alt="pfp">   

                <div class="userLine">
                    <div id="name">
                        <strong>Anthony Banks</strong>
                    </div>
    
                    <div id="tag">
                        @abanks_real
                    </div>
                </div>

                <div class="attr" id="postDate">
                    February 25th, 12:34pm
                </div>
            </div>
    
            <div class="postContent">
                I heard Kelon Tusk is buying out Howler soon.. How sad!
            </div>
    
        </section>
    
        <section class="content">
            <!-- sample posts to populate screen with -->
            <div class="postHead">
                
                <img src="./images/atla.png" alt="pfp">   

                <div class="userLine">
                    <div id="name">
                        <strong>Ethan Board</strong>
                    </div>
    
                    <div id="tag">
                        @ebcabbages
                    </div>
                </div>

                <div class="attr" id="postDate">
                    February 22nd, 12:02am
                </div>
            </div>
    
            <div class="postContent">
                omg the new live action atla show is coming out today i cant even believe it
            </div>
    
        </section>
    </div>

    <footer>
        © Howler . v.342.spr24. Brought to you by hmreese2.
    </footer>
    
</body>
</html>