<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Howler</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    
    <header>
        <div class="user">
            <a href="/">
                <button>Home</button>
            </a>
        </div>
        <h1>Howler</h1>
    </header>

    

    <div class="container">
        <h2>Sign in to Howler</h2>

        <div class="form-container">
            <form>

                <div class="username">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
    
                <div class="pwd">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
    
                <input type="submit" id="login" name="login" value="Log in">
            </form>
        </div>
        
        <p>Don't have an account?
            Create one <a href="#">here</a>.
        </p>
    </div>

    

    <footer>
        © Howler . v.342.spr24. Brought to you by hmreese2.
    </footer>

</body>
</html>